/* Add fonts */

    /* Inter */
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
    font-style: italic;
    font-weight: 100 900;
}

    /* Space Grotesk */
@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 300 700;
}

* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-background: #0F1115;
    --color-cards: #171A21;
    --color-primary-text: #F4F4F5;
    --color-muted-text: #A1A1AA;
    --color-primary-accent: #D84040;
    --color-accent-hover: #F05A5A;
    --color-secondary-accent: #F59E0B;
    --color-optional-functional-accent: #60A5FA;

    /* Typography */
    --font-heading: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
    
        /* scale */
    --font-size-hero: 2.5rem;
    --font-size-section-heading: 1.75rem;
    --font-size-card-title: 1.25rem;
    --font-size-body: 1rem;
    --font-size-small: 0.875rem;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 5rem;

    /* Borders radius*/
    --radius-sm: 8px;
    --radius-card: 12px;
    --radius-large-container: 16px;

    /* Motion */
    --transition-fast: 0.25s;
    --transition-standard: 0.4s;
    --transition-slow: 0.5s;

    /* Layout */
    --container-max-width: 1200px;
    --container-width: 90%;
    --page-padding: 1rem;
    --section-spacing: 5rem;
}

/* Responsive layout for mobile */

body {
    margin: 0;
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-primary-text);
}

main {
    max-width: var(--container-max-width);
    width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--page-padding);
}

/* Navbar */

header{
    position: fixed;
    top: var(--space-sm);
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--container-max-width);
    width: var(--container-width);
    z-index: 1000;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--color-cards);
    border-radius: var(--radius-large-container);
    padding: var(--space-sm);
}

.nav-links{
    display: none;
}

.nav-links.is-open{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    color: var(--color-primary-text);
    cursor: pointer;

    padding: 0;
    border-radius: var(--radius-sm);
}

.nav-toggle ion-icon {
    font-size: 2rem;    
}

.nav-toggle:focus-visible {
    outline: 0.1rem solid var(--color-primary-text);
    outline-offset: 0.3em;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-primary-text);
    padding: var(--space-xs);
    text-align: center;
    border-radius: var(--radius-sm);
}

.nav-links a:focus-visible {
    outline: 0.1rem solid var(--color-primary-text);    
}

/* Responsive layout for tablet */
@media (min-width: 768px) {
    :root {
        /* Typography */
            /* scale */
        --font-size-hero: 4rem;
        --font-size-section-heading: 2.25rem;

        /* Layout */
        --page-padding: 2rem;
    }
}

/* Responsive layout for computer */
@media (min-width: 1024px) {

}